@font-face {
  font-family: "iconfont"; /* Project id 4092058 */
  src: url('iconfont.woff2?t=1686118720508') format('woff2'),
       url('iconfont.woff?t=1686118720508') format('woff'),
       url('iconfont.ttf?t=1686118720508') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bennian:before {
  content: "\e61b";
}

.icon-biaozhundaxiaotubiao-:before {
  content: "\e61c";
}

.icon-benyue:before {
  content: "\e64e";
}

.icon-benzhou:before {
  content: "\e64f";
}

.icon-jintian:before {
  content: "\e654";
}

.icon-wode:before {
  content: "\e66c";
}

.icon-fenlei:before {
  content: "\e706";
}

.icon-shouye:before {
  content: "\e629";
}

